/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; -webkit-user-select: none;
    color:#252525; font-size:14px; line-height:20px;background-color: #ededed;
}

.subjectList{margin:10px;  overflow: hidden;}
#subject-list-box li{margin:0 auto 10px; width: 100%;}
.subjectItem{display: block; overflow: hidden; border: #d4d4d4 1px solid;}
.subjectItem img{display: block; width: 100%;}
.subjectDes{width: 100%; padding:5px; background-color: #fefefe; overflow: hidden; position: relative;}
.description{margin-right:30px; line-height: 22px; font-size: 14px; height: 44px; overflow: hidden; color: #8e8e8e;}
.arrow{display: block;position: absolute; height: 44px; width: 30px;
    background: url("../images/zhuanti/arraw.png") center no-repeat;top:5px;right: 5px;
}

.more{height: 40px; width: 100%; overflow: hidden; text-align: center;}

.loading
{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url('../images/jingpin/ui-loading.png') 0 0 no-repeat;
    -webkit-background-size: 40px 40px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}